html {
	font-family: sans-serif;
}

.cs-0 {
	background-color: #FFF;
	color: #333;
}

.cs-1 {
	background-color: #2FB0CC;
	color: #FFF;
}

	.cs-1:active {
		background-color: #1EA0DD;
		color: #EEE;
	}

.cs-2 {
	background-color: #CC316E;
	color: #FFF;
}

	.cs-2 a {
		color: rgb(255, 239, 218);
	}

	.cs-2 a:hover {
		color: rgb(219, 196, 165);
	}

.text-lg {
	font-size: 26px;
}

.btn {
	text-decoration: none;
	vertical-align: middle;
	border-radius: 5px;
	border-style: solid;
	padding: 0.5em 1em;
}