// A few different options:
// https://github.com/jonathantneal/layout-webfont
// https://github.com/rastyagaev/spaceless
// https://github.com/marcolago/ZeroSpace-Font
// http://matthewlein.com/articles/inline-block-no-space-font/

.tiles
	font-size 0
	& > .tile
		font-size font-size