font-family = serif
font-size = 18px
line-height = 26px

font-sizes = {
	xs: {
		size: 9px,
		lineheight: 13px
	},
	sm: {
		size: 12px,
		lineheight: 18px
	},
	md: {
		size: 18px,
		lineheight: 26px
	},
	lg: {
		size: 26px,
		lineheight: 32px
	},
	xl: {
		size: 32px,
		lineheight: 36px
	},
	xxl: {
		size: 48px,
		lineheight: 54px
	}
}

padding-sizes = {
	nil: 0,
	sm: line-height / 2,
	md: line-height,
	lg: line-height * 2,
	xl: line-height * 4,
}

screen-sizes = {
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1400px
}

/* The container size (except for the smallest) must be smaller than the screen size to account for scroll-bar width. According to http://www.textfixer.com/tutorials/browser-scrollbar-width.php, you should have at least 17px difference. */
container-sizes = {
	sm: 768px,
	md: 962px,
	lg: 1170px,
	xl: 1352px
}

widths = 2 3 4 5 6 7 8 12