font-size = 20px
line-height = 26px

padding-sizes = {
	nil: 0,
	sm: line-height / 2,
	md: line-height,
	lg: line-height * 2,
	xl: line-height * 4,
}
default-padding-size = padding-sizes['md']

widths = 2 3 4 5 7 8 12