font-size = 18px
line-height = 26px

padding-sizes = {
	sm: line-height / 2,
	md: line-height,
	lg: line-height * 2
}
default-padding-size = padding-sizes['md']

widths = 2 3 4 5 7 8 12

screen-sizes = {
	sm: 480px,
	md: 768px,
	lg: 1000px,
	xl: 1200px
}
default-screen-size = screen-sizes['md']