.w-fill
	width 100%

.shift
	position relative

.no-shift
	position static

for x in (1..30)
	.w-{x}
		width (x * line-height)

for denominator in widths
	for numerator in (1..(denominator))
		.w-{numerator}-{denominator}
			width (100 * numerator/denominator)%
		
		.shift-left-{numerator}-{denominator}
			right (100 * numerator/denominator)%
			
		.shift-right-{numerator}-{denominator}
			left (100 * numerator/denominator)%