.w-fill
	width 100%


for x in (20..50)
	.w-{x}
		width (x * line-height)

for denominator in widths
	for numerator in (1..(denominator))
		.w-{numerator}-{denominator}
			width (100 * numerator/denominator)%