// Left-to-right
.grouped-border.tile,
.grouped-border.table-cell
	&:not(:first-of-type)
		border-left-width 0
		border-top-left-radius 0
		border-bottom-left-radius 0
	&:not(:last-of-type)
		border-top-right-radius 0
		border-bottom-right-radius 0

// Top-to-bottom
.grouped-border:not(.tile):not(.table-cell)
	&:not(:first-of-type)
		border-top-width 0
		border-top-left-radius 0
		border-top-right-radius 0
	&:not(:last-of-type)
		border-bottom-right-radius 0
		border-bottom-left-radius 0