for font-size-name, font-size in font-sizes
	.fs-{font-size-name}
		font-size font-size
		// If there is a line-height defined with the same name as the font size then assume we want to use it by default
		if defined line-heights[font-size-name]
			line-height line-heights[font-size-name]

// We use these classes to override any default line-height.
for line-height-name, line-height in line-heights
	.lh-{line-height-name}
		line-height line-height