nearest-full-multiple(approach-number, multiply-by)
	multiply-by * floor(approach-number / multiply-by)

$border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

@import 'variables.styl'
@import 'reset.styl'
@import 'no-space.styl'
@import 'content.styl'
@import 'readable.styl'

// Use a function here instead of a block because of strange (caching?) behaviour
// TODO: File a bug report on this. Try switching `prefixed-modules` to be a block definition replacing calls to `prefixed-modules()` with `{prefixed-modules}`.
prefixed-modules()
	@import 'layout.styl'
	@import 'hide.styl'
	@import 'widths.styl'
	@import 'spaced-out.styl'
	@import 'padding.styl'
	@import 'font-sizes.styl'
	@import 'text.styl'

prefixed-modules()

.ghetto-wrapper
	@extend $border-box
	margin-left auto
	margin-right auto

first-screen-size = true
for screen-size-name, screen-size-value in screen-sizes
	@media all and (min-width: screen-size-value)
		.ghetto-wrapper
			if first-screen-size
				max-width screen-size-value
			else
				max-width: nearest-full-multiple(screen-size-value - scrollbar-width, line-height)px
			
		+prefix-classes(screen-size-name + '-')
			prefixed-modules()
	first-screen-size = false
