.tile
	vertical-align top
	display inline-block

.tile-top
	vertical-align top

.tile-middle
	vertical-align middle

.tile-bottom
	vertical-align bottom

.tile-baseline
	vertical-align baseline

.stack
	display block

.table
	display table
	width 100%

.table-row
	display table-row

.table-cell
	display table-cell
	vertical-align top

.tiles
	& > *
		text-align left

.tiles-left
	text-align left

.tiles-center
	text-align center

.tiles-right
	text-align right

.tiles-justify
	text-align justify
	text-justify distribute-all-lines // Fix for IE collapsing font-size: 0
	line-height normal // Needed to prevent :after from taking up a line (I have no idea why, but it works)
	&:after
		display inline-block
		content ""
		width 100%
	> *
		text-align left
		line-height line-height

.center {
	margin-left: auto;
	margin-right: auto;
}