for padding-name, padding-size in padding-sizes
	.pad-{padding-name}
		padding padding-size
	.pad-h-{padding-name}
		padding-left padding-size
		padding-right padding-size
	.pad-v-{padding-name}
		padding-top padding-size
		padding-bottom padding-size
	.pad-top-{padding-name}
		padding-top padding-size
	.pad-bottom-{padding-name}
		padding-bottom padding-size
	.pad-left-{padding-name}
		padding-left padding-size
	.pad-right-{padding-name}
		padding-right padding-size