.text-left
	text-align left
	
.text-right
	text-align right
	
.text-center
	text-align center
	
.text-top
	vertical-align top
	
.text-bottom
	vertical-align bottom
	
.text-super
	vertical-align super
	
.text-sub
	vertical-align sub