// The defaults.
font-family = sans-serif
font-size = 18px // should correspond to font-sizes['md'] (below)
line-height = 26px // should correspond to line-heights['md'] (below)

// These correspond to breakpoints
screen-sizes = {
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1400px
}

// These are the denominators for the `.w-{numerator}-{denominator}` classes (see `widths.styl`).
// Simply add the ones you want. e.g. If you want `.w-2-9`, add a `9` to this list.
width-denominators = 2 3 4 5 6 7 8 12

// For the `.w-*` classes which are widths in multiples of the default line-height.
widths = (1..30)

font-sizes = {
	xs: 9px,
	sm: 12px,
	md: 18px,
	lg: 26px,
	xl: 32px,
	xxl: 48px
}

line-heights = {
	xs: line-height/2,
	sm: line-height/1.5,
	md: line-height,
	lg: line-height*1.5,
	xl: line-height*2,
	xxl: line-height*3
}

padding-sizes = {
	nil: 0,
	xs: line-height / 4,
	sm: line-height / 2,
	md: line-height,
	lg: line-height * 2,
	xl: line-height * 4,
}

// The `.ghetto-wrapper` class is generated using the screen-sizes, however it must also account for the width occupied by the scrollbar.
// According to http://www.textfixer.com/tutorials/browser-scrollbar-width.php, you should have at least a 17px difference.
scrollbar-width = 17