font-family = sans-serif
font-size = 18px
line-height = 26px

font-sizes = {
	xs: 9px,
	sm: 12px,
	md: 18px,
	lg: 26px,
	xl: 32px,
	xxl: 48px
}

line-heights = {
	xs: line-height/2,
	sm: line-height/1.5,
	md: line-height,
	lg: line-height*1.5,
	xl: line-height*2,
	xxl: line-height*3
}

padding-sizes = {
	nil: 0,
	xs: line-height / 4,
	sm: line-height / 2,
	md: line-height,
	lg: line-height * 2,
	xl: line-height * 4,
}

screen-sizes = {
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1400px
}

/* The wrapper size (except for the smallest) must be smaller than the screen size to account for scroll-bar width. According to http://www.textfixer.com/tutorials/browser-scrollbar-width.php, you should have at least 17px difference. */
wrapper-sizes = {
	sm: 768px,
	md: 962px,
	lg: 1170px,
	xl: 1352px
}

widths = 2 3 4 5 6 7 8 12