.w-fill
	@extend $border-box
	width 100%

.shift
	position relative

.no-shift
	position static

for x in widths
	.w-{x}
		@extend $border-box
		width (x * line-height)
		
	.max-w-{x}
		@extend $border-box
		max-width (x * line-height)

for denominator in width-denominators
	for numerator in (1..(denominator))
		.w-{numerator}-{denominator}
			@extend $border-box
			width (100 * numerator/denominator)%
		
		.max-w-{numerator}-{denominator}
			@extend $border-box
			max-width (100 * numerator/denominator)%

		.shift-left-{numerator}-{denominator}
			right (100 * numerator/denominator)%
			
		.shift-right-{numerator}-{denominator}
			left (100 * numerator/denominator)%